@{
     if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Hesap/Giris?returnUrl=Dosya");
    }
    Layout = "~/Shared/_LayoutYeni.cshtml";  
     var db=Database.Open("fb1ae");

   
   var queryKisi= db.QuerySingle("exec dbo.Ders_Ekle @0,@1", 40,"");
  db.Close();
}

<div>

        <p>@queryKisi.Ad @queryKisi.Soyad</p>

</div>


